@charset "UTF-8";
@import url("./index.css");

body {
    margin: 0;
    padding: 0;
    background-color: #e1e0e0;
    font-family: 'Roboto', serif;
}

/**** CAROUSEL ****/
img {
    width: 100%;
}

/**** NOUVEAUTE ******/

#bn {
    background: #e8e8e8;
    padding-bottom: 70px;
}

.new {
    margin: 0px 0px 12px 38px;
    padding-top: 40px;
    display: flex;
    width: 42%;
}

.new h2 {
    padding-right: 27px;
}

.new .dropbtn {
    width: 20%;
    height: 31px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    background-color: #1132ffa3;
}

.new a:hover {
    color: #fff;
}

.new .dropbtn:hover {
    background-color: #11b7ff;
    border: 1px solid #00b4e1;
}

.new2 {
    margin: 45px 0px 0px 0px;
    width: 35%;
}


/******* CARDS **********/

.card {
    width: 15%;
    margin: 55px 0px 5px 50px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px;
    display: inline-block;
}

.card:nth-child(1) {
    margin: 1px;
}

.card img {
    width: 100%;
}

.card .container {
    margin: auto;
    padding-top: 10px;
}

#title, #prix {
    font-size: 0.7em;
}

#title {
    color: #000;
    text-align: center;
    margin: 3px 0px 3px 0px;
}

#prix {
    text-align: center;
    margin: 0px;
}

.dropbtn {
    width: 100%;
    height: 36px;
    background-color: #519332;
    color: #fdfdfd;
    padding: 7px;
    font-size: 15px;
    border: 1px solid #519332;
    border-radius: 14px;
}





















